<aside class="comments outer">
  <hr>
  <div class="inner">
    <h2><img src="/images/comment-icon.png" width="32" height="32">  COMMENTS  </h2>
    <div id='comments-feed'></div>
    
    <div id="write-comment" >
      <h4>WRITE A COMMENT</h4>
      <textarea id='content' name='content' style="width:100%; color:black"></textarea><br>
      <button id="post_comment" style="background-color: #e7e7e7; color: firebrick; border: 2px solid firebrick;"
        onclick='formSubmit({{ .File.Path }})'>POST</button>
    </div>
  </div>
</aside>

