{{ .Scratch.Set "ordinal" .Ordinal }}
<div id="carousel{{ .Ordinal }}" class="carousel" duration="7000" items="1">
    <ul>
        {{ range $index, $param := .Params }}
          <li id="c{{ $.Scratch.Get "ordinal" }}_slide{{ add $index 1 }}" style="min-width: 100%; padding-bottom: 500px"><img src="{{ $param }}" alt="" /></li>
        {{ end }}
    </ul>
    <ol>
      {{ range $index, $param := .Params }}
        <li><a href="#c{{ $.Scratch.Get "ordinal" }}_slide{{ add $index 1 }}"></a></li>
      {{ end }}
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
</div>


